{% extends 'company/base.html' %}
{% load static %}
{% block title %}Add Company Profile{% endblock %}
{% block css %}
<!--		&lt;!&ndash; Select2 css &ndash;&gt;-->
		<link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/fileuploads/css/fileupload.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
		{% block main %}
            {% if profile_already_exists %}
                <div class="container-fluid">
                <br>
                    <div class="main-content-body edit-profile-wrap">
                        <div class="row row-sm">
                            <div class="col-md-12 col-xl-12 col-lg-12">
                                <div class="card">
                                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="card-body">
                                            {% csrf_token %}
                                            <div class="custom-form custom-form-company">
                                                <div class="row row-sm">
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Company Name: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control"
                                                            name="company_name" readonly
                                                            required="" type="text" value="{{request.user.company_name}}">
                                                    </div>
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Universal Name: <span
                                                                class="tx-danger">*</span></label> <input class="form-control" name="universal_name" placeholder=""
                                                            required="" value="{{ company_profile.universal_Name}}" type="text">
                                                    </div>
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Working Email : <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" readonly name="email"
                                                            required="" type="text" value="{{request.user.email}}">
                                                    </div>
                                                </div>
                                               <div class="row row-sm">
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Company Type : <span
                                                            class="tx-danger">*</span></label>
                                                        <select class="form-control select2" name="company_type">
                                                            <option label="Choose one"></option>
                                                            {% for value, companytype in company_type_ %}
                                                                <option value="{{value}}" {% ifequal value  company_profile.compnay_type %} selected {% endifequal %}>{{companytype}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Website Url : <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="websitename"
                                                            required="" readonly type="text" value="{{request.user.website}}">
                                                    </div>
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Industrial Type : <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control select2" name="industrial_type">
                                                            <option>Select One</option>
                                                                {% for industrytypes in industrytype %}
                                                                    <option value="{{industrytypes.id}}" {% ifequal industrytypes.id  company_profile.industry_type.id %} selected {% endifequal %}>{{industrytypes.name}}</option>
                                                                {% endfor %}
                                                        </select>
                                                    </div>
                                               </div>

                                                <div class="row row-sm">
                                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                                        <label class="form-control-label">Employee Count <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control select2" name="employeecount">
                                                            <option label="Choose one"></option>
                                                            {% for value,employeecount in employee_count_ %}
                                                                    <option value="{{value}}" {% ifequal  value company_profile.employee_count %} selected {% endifequal %}>
                                                                        {{employeecount}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                                         <div class="mg-t-10 mg-sm-t-0">
                                                            <div class="control-group form-group">
                                                                <label class="form-label">logo:</label>
                                                                <div class="add-inputfile-border">
                                                                    <input  type="file" name="logo" accept="image/*" required class="dropify" data-default-file="{{company_profile.company_logo.url}}"   data-height="100">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                                        <label class="form-control-label">Specialty : <span
                                                            class="tx-danger">*</span></label>
                                                        <textarea class="form-control" name="speciality" required="">{{company_profile.speciality}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Country: <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control select2 " required onChange="getState(this.value)" name="country">
                                                            <option label="Choose one"></option>
                                                            {% for countrys in country %}
                                                                <option value="{{countrys.id}}" {% ifequal countrys.id company_profile.country.id %} selected {% endifequal %}>{{countrys.country_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">State: <span
                                                                class="tx-danger">*</span></label>
                                                        <div id="statediv">
                                                            <select class="form-control select2" id="c_state" name="state">
                                                                <option label="Choose one"></option>
                                                                {% for state in states %}
                                                                    <option value="{{state.id}}" {% ifequal state.id company_profile.state.id %} selected {% endifequal %}>{{state.state_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">City: <span
                                                                class="tx-danger">*</span></label>
                                                        <div id="citydiv">
                                                            <select class="form-control select2" name="city">
                                                                <option label="Choose one"></option>
                                                                {% for city in cities %}
                                                                    <option value="{{city.id}}" {% ifequal city.id company_profile.city.id %} selected {% endifequal %}>{{city.city_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Address : <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control"  name="address" value="{{company_profile.address}}"
                                                            placeholder="Address" required="">
                                                    </div>
                                                </div>

                                                <div class="row row-sm">
                                                    <div class=" col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Zip Code: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="zipcode"
                                                            required="" type="text" value="{{company_profile.zip_code}}">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Founded Year: <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control" name="foundedyear" required="">
                                                            <option label="Choose one"></option>
                                                                {% for year in founded_years %}
                                                                    <option value="{{year}}" {% ifequal year company_profile.founded_year %} selected {% endifequal %}>{{year}}</option>
                                                                {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Contact Number 1: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="contactno1"
                                                            placeholder="" required="" type="text" value="{{company_profile.contact_no1}}" maxlength="10">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Contact Number 2:</label>
                                                        <input class="form-control" name="contactno2"
                                                            placeholder=""  type="text" value="{{company_profile.contact_no2}}" maxlength="10">
                                                    </div>
                                                </div>
<!--                                                <div class="row row-sm">-->
<!--                                                    <div class="col-lg-2 col-sm-12 col-xs-12">-->
<!--                                                        <a href="javascript:void(0)" id="add-element" class="plus-more"><i class="fas fa-plus-circle"></i><span>Add more</span></a>-->
<!--                                                    </div>-->
<!--                                                </div>-->

<!--                                                <div class="row row-sm">-->
<!--                                                    <div class=" col-lg-6 col-sm-12 col-xs-12">-->
<!--                                                        <div class="form-control social-control">-->
<!--                                                            <ul>-->
<!--                                                                <li><a href="" title=""><i data-v-e08301e8="" class="fab fa-facebook"></i></a></li>-->
<!--                                                            </ul>-->
<!--                                                            <a href="javascript:void(0)" class="plus-more"><i class="fas fa-plus-circle"></i><span>Add more</span></a>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-fluid">
                    <div class="main-content-body edit-profile-wrap">
                        <div class="row row-sm">
                            <div class="col-md-12 col-xl-12 col-lg-12">
                                <div class="card">
                                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="card-body">
                                            {% csrf_token %}
                                            <div class="custom-form custom-form-company">
                                                <div class="row row-sm">
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Company Name: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control"
                                                            name="company_name" readonly
                                                            required="" type="text" value="{{request.user.company_name}}">
                                                    </div>
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Universal Name: <span
                                                                class="tx-danger">*</span></label> <input class="form-control" name="universal_name" placeholder=""
                                                            required="" type="text">
                                                    </div>
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Working Email : <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" readonly name="email"
                                                            required="" type="text" value="{{request.user.email}}">
                                                    </div>
                                                </div>
                                               <div class="row row-sm">
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Company Type : <span
                                                            class="tx-danger">*</span></label>
                                                        <select class="form-control select2" name="company_type">
                                                            <option label="Choose one"></option>
                                                            {% for value, companytype in company_type_ %}
                                                                <option value="{{value}}">{{companytype}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Website Url : <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="websitename"
                                                            required="" readonly type="text" value="{{request.user.website}}">
                                                    </div>
                                                    <div class=" col-lg-4 col-sm-12 col-xs-12">
                                                        <label class="form-control-label">Industrial Type : <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control select2" name="industrial_type">
                                                            <option>Select One</option>
                                                                {% for industrytypes in industrytype %}
                                                                    <option value="{{industrytypes.id}}">{{industrytypes.name}}</option>
                                                                {% endfor %}
                                                        </select>
                                                    </div>
                                               </div>

                                                <div class="row row-sm">
                                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                                        <label class="form-control-label">Employee Count <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control select2" name="employeecount">
                                                            <option label="Choose one"></option>
                                                            {% for value, employeecount in employee_count_ %}
                                                                    <option value="{{value}}">{{employeecount}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                                        <div class="mg-t-10 mg-sm-t-0">
                                                            <div class="control-group form-group">
                                                                <label class="form-label">logo:</label>
                                                                <div class="add-inputfile-border">
                                                                    <input type="file" required name="logo" accept="image/*" class="dropify"  data-height="100">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                                        <label class="form-control-label">Specialty : <span
                                                            class="tx-danger">*</span></label>
                                                        <textarea class="form-control" name="speciality" required=""></textarea>
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Country: <span
                                                                class="tx-danger">*</span></label>
                                                        <select class="form-control select2" onChange="getState(this.value)" name="country">
                                                            <option label="Choose one"></option>
                                                            {% for countrys in country %}
                                                                <option value="{{countrys.id}}" >{{countrys.country_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">State: <span
                                                                class="tx-danger">*</span></label>
                                                        <div id="statediv">
                                                            <select class="form-control select2" id="c_state" name="state">
                                                                <option label="Choose one"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">City: <span
                                                                class="tx-danger">*</span></label>
                                                        <div id="citydiv">
                                                            <select class="form-control select2" name="city">
                                                                <option label="Choose one"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Address : <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control"  name="address" value=""
                                                            placeholder="Address" required="">
                                                    </div>

                                                </div>

                                                <div class="row row-sm">
                                                    <div class=" col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Zip Code: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="zipcode"
                                                            required="" type="text">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Founded Year: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="foundedyear" required="" type="text">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Contact Number 1: <span
                                                                class="tx-danger">*</span></label>
                                                        <input class="form-control" name="contactno1"
                                                            placeholder="" maxlength="10" required="" type="text">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                                        <label class="form-control-label">Contact Number 2:</label>
                                                        <input class="form-control" name="contactno2"
                                                            placeholder="" maxlength="10" type="text">
                                                    </div>
                                                </div>


<!--                                                <div class="row row-sm">-->
<!--                                                    <div class=" col-lg-6 col-sm-12 col-xs-12">-->
<!--                                                        <div class="form-control social-control">-->
<!--                                                            <ul>-->
<!--                                                                <li><a href="" title=""><i data-v-e08301e8="" class="fab fa-facebook"></i></a></li>-->
<!--                                                            </ul>-->
<!--                                                            <a href="javascript:void(0)" class="plus-more"><i class="fas fa-plus-circle"></i><span>Add more</span></a>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
		{% endblock %}

{% block script %}
	<!-- Select2.min js -->
	<script src="{% static 'assets/plugins/fileuploads/js/fileupload.js' %}"></script>
	<script src="{% static 'assets/plugins/fileuploads/js/file-upload.js' %}"></script>
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>


{% endblock %}

