<!DOCTYPE html>
<html>
<head>
    <title>Password reset complete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>
{% load crispy_forms_tags %}
<body style="background-color: #ffffff; font-size: 16px;">
   {% block content %}
    {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
          {% csrf_token %}
    <!--      {{ form|crispy }}-->
            <input type="password" name="new_password1" class="textinput textInput" required="" id="id_new_password1">
            <input type="password" name="new_password2" class="textinput textInput" required="" id="id_new_password2">
            <button type="submit" class="btn btn-primary">Change password</button>
         </form>
   {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
    {% endblock %}
</body>
</html>