{% extends "chat/Base.html" %}
{% load static %}
{% load candidate_extras %}
{% block chat_messages_section %}
     <div class="col-xl-8 col-lg-12">
                        <div class="">
                            <a class="main-header-arrow" href="" id="ChatBodyHide"><i class="icon ion-md-arrow-back"></i></a>
                            <div class="main-content-body main-content-body-chat mt-0 pt-0 br-br-0 br-bl-0 mb-lg-0 card">
                                <div class="main-chat-header">
                                    <div class="main-img-user"><img alt="" src="{{friend.id|get_user_image}}"></div>
                                    <div class="main-chat-msg-name">
                                        {% if friend.is_candidate %}
                                            <h6>{{friend.first_name}}</h6><small></small>
                                        {% else %}
                                            <h6>{{friend.company_name}}</h6><small></small>
                                        {% endif %}

                                    </div>
                                </div>
                                <!-- main-chat-header -->
                                <div class="messages">
                                    {% block message %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="main-chat-footer">
                                <form method="post" id="chat-box">
                                    {% csrf_token %}
                                    <div class="row">
                                        <input style="width: calc(100% - 60px) !important;" class="form-control" placeholder="Type your message here..." type="text" name="message" id="msg_field">
                                        <a class="main-msg-send" type="submit" name="send" id="send_btn"><i class="bx bx-paper-plane"></i></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
 <script>
        var messageBody = document.querySelector('.messages');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

        sender_id = "{{ friend.id }}";
        receiver_id = "{{ curr_user.id }}";

        function scrolltoend() {
            $('#board').stop().animate({
                scrollTop: $('#board')[0].scrollHeight
            }, 800);
         }

        const text_box = '<div class="media  flex-row-reverse">'
             + '<div class="main-img-user online">'
             + '<img alt="" src="{% static 'chat/images/user_image.jpg' %}">'
             + '</div>'
             + '<div class="media-body">'
             + '<div class="main-msg-wrapper">'
             + '{description}'
             + '</div>'
             + '<div>'
             + '<span>{time}</span>'
             + '<a href=""><i class="icon ion-android-more-horizontal"></i></a>'
             + '</div>'
             + '</div>'
             + '</div>'

        //For sending
        $(function () {
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#msg_field');
                console.log('calllllllllllllllllll')
                send('{{ curr_user.email }}', '{{ friend.email }}', message.val());
                message.val('');
            })
        })

        function send(sender, receiver, message){
            $.post('/chat/api/messages', '{"sender_name": "' + sender + '", "receiver_name": "' +
                    receiver + '","description": "' + message + '" }', function (data) {
                var field = text_box.replace('{description}', message);
                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes()
                field = field.replace('{time}', time)
                $('#board').append(field);
                scrolltoend();
            })
        }

    </script>
{% endblock %}



