{% extends 'company/base.html' %}
{% load static %}
{% block title %}Job Create{% endblock %}
{% block css %}
<!-- Internal Data table css -->
<link href="{% static 'assets/plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/datatable/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/datatable/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/datatable/css/responsive.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/css/ATS/job_creation.css' %}">


<style>
    .fx-shift-col input[name="job_shifts"] {width: 16px;}
    .title-section__row{display:flex;justify-content:center;align-items:center;padding:10px 10px 6px 10px;border-bottom:1px solid #e2e8f5}
    .title-section__row .col-3 h5{margin:0;font-size:16px}
    .details-section__row:last-child{border-bottom:0}
    .details-section__row{display:flex;justify-content:center;align-items:center;padding:10px 10px 6px 10px;border-bottom:1px solid #e2e8f5}
    .details-section__row .super-title{margin:0}
    .details-section__row .super-title{margin:0}
    .frame-layout .card-footer{border-top:0;padding-top:0}
</style>
{% endblock %}
{% block main %}

<!--<div class="container-fluid">-->
    <div class="card main-content-body edit-profile-wrap">
        <div class="row header-title__section">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="template-selection-list">
                    <select class="form-control template-selector">
                        <option label="choose a Job Template"></option>
                        <option value="1">abc</option>
                        <option value="2">xyz</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-md-12 col-xl-12 col-lg-12">
                <div class="main-form-section">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                        <div class="frame-layout">
                            <div class="card-body jc-inner-wrapper">
                                {% csrf_token %}
                                <div class="card-list-view">
                                <h1 class="section_main-title h5 text-uppercase pd-b-20 mg-0">basic info</h1>
                                <div class="custom-form">
                                    <div class="row row-sm">
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Job Title:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" name="job_title" required="" type="text">
                                        </div>
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">Job Type:
                                                 <span class="tx-danger">*</span>
                                            </label>
                                            <select class="form-control" name="job_type" tabindex="-1">
                                                {% for type in job_types %}
                                                    <option value="{{ type.id }}">{{type.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">Contact Person:
                                                 <span class="tx-danger">*</span>
                                            </label>

                                            <input class="form-control" readonly name="contact_name"
                                                required="" type="text">
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-10">
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Target Date:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control" name="target_date" required="" type="date">
                                        </div>
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">Status:
                                                 <span class="tx-danger">*</span></label>
                                            <select class="form-control" name="status" tabindex="-1">
                                                {% for type in job_status %}
                                                    <option value="{{ type.id }}">{{type.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">Industry Type:
                                                 <span class="tx-danger">*</span></label>
                                            <select class="form-control" name="industry_type" tabindex="-1">
                                                {% for type in industry_types %}
                                                    <option value="{{ type.id }}">{{type.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-10">
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">Salary(Annually):<span class="tx-danger">*</span></label>
                                            <div class="fx-sm-row">
                                                <label class="fxs-col"><span>Min</span><input class="form-control" name="Min" required="" type="number"></label>
                                                <label class="fxs-col"><span>Max</span><input class="form-control" name="Max" required="" type="number"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">Experience:<span class="tx-danger">*</span></label>
                                            <div class="fx-sm-row">
                                                <label class="fxs-col"><span>Years</span><input class="form-control" name="exp_years" required="" type="number"></label>
                                                <label class="fxs-col"><span>Months</span><input class="form-control" name="exp_month" required="" type="number"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label remote-title">Remote Job:<span class="tx-danger">*</span></label>
                                            <div class="fx-sm-col">
                                                <label class="rdiobox"><input class="form-control" name="remote_job" value="yes" type="radio"> <span>Yes</span></label>
                                                <label class="rdiobox"><input class="form-control" name="remote_job" value="no" type="radio" checked> <span>No</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-10">
                                        <div class=" col-lg-12 col-sm-12 col-xs-12">
                                            <label class="field-title">Shift Details:</label>
                                            <div class="fx-shift-row">
                                                {% for shift in job_shift %}
                                                <div class="fx-shift-col">
                                                    <input type="checkbox" class="form-control" id="{{shift.name}}" name="job_shifts" value="{{shift.name}}">
                                                    <label for="{{shift.name}}" class="shift-label">{{shift.name}}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-10">
                                        <div class=" col-lg-12 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Job Description:
                                                 <span class="tx-danger">*</span>
                                             </label>
                                             <textarea class="job-description" name="job_description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-10">
                                        <div class=" col-lg-12 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Benefits:
                                                 <span class="tx-danger">*</span>
                                             </label>
                                             <textarea class="job-benefit" name="job_benefit"></textarea>
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-10">
                                        <div class=" col-lg-12 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Requirements:
                                                 <span class="tx-danger">*</span>
                                             </label>
                                             <textarea class="job-requirement" name="job_requirement"></textarea>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="card-list-view">
                                <h1 class="section_main-title h5 text-uppercase pd-b-20 mg-0">job location</h1>
                                <div class="custom-form">
                                    <div class="row row-sm">
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Country:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <select class="form-control" name="country" onChange="getCitiesByCountry(this.value)"  tabindex="-1">
                                                {% for country in countries %}
                                                    <option value="{{ country.id }}">{{country.country_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                City:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <div id="citydiv">
                                                <select class="form-control required"  name="city">
                                                    <option label="Choose one"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Zipcode:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control"
                                                name="zipcode" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="card-list-view">
                                <h1 class="section_main-title h5 text-uppercase pd-b-20 mg-0">Managed By</h1>
                                <div class="custom-form">
                                    <div class="row row-sm">
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Job Owner:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <input class="form-control"
                                                name="job_owner" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="card-list-view">
                                <h1 class="section_main-title h5 text-uppercase pd-b-20 mg-0">Assign Recruiter</h1>
                                <div class="custom-form">
                                    <div class="row row-sm">
                                        <div class=" col-lg-4 col-sm-12 col-xs-12">
                                            <label class="form-control-label">
                                                Select Recruiter Type:
                                                <span class="tx-danger">*</span>
                                            </label>
                                            <select class="form-control recruiter__selector" name="recruiter__selector" required="">
                                                <option label="Select Recruiter Type" disabled selected>
                                                <option value="internal">Internal Recruiter</option>
                                                <option value="external">External Recruiter</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="card-list-view">
                                <h1 class="section_main-title h5 text-uppercase pd-b-20 mg-0">Assignee</h1>
                                <div class="custom-form">
                                    <div class="row row-sm">
                                        <div class="col-lg-12 col-sm-12 col-xs-12 bd">
                                            <div class="row title-section__row">
                                                <div class="col-3"><h5 class="h5 super-title text-uppercase">Name</h5></div>
                                                <div class="col-3"><h5 class="h5 super-title text-uppercase">Department</h5></div>
                                                <div class="col-3"><h5 class="h5 super-title text-uppercase">Recruiter type</h5></div>
                                                <div class="col-3"><h5 class="h5 super-title text-uppercase">Action</h5></div>
                                            </div>
                                            <div class="row details-section__row">
                                                <div class="col-3"><label class="super-title text-capitalize">Name</label></div>
                                                <div class="col-3"><label class="super-title text-capitalize">Department</label></div>
                                                <div class="col-3"><span class="badge badge-light text-capitalize">Internal</span></div>
                                                <div class="col-3"><button type="button" class="btn btn-sm btn-outline-danger rounded-20 text-capitalize">Unassign</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <!-- ASSIGN RECRUITER Modal 1 -->
                <div class="modal effect-newspaper" id="internal-recruiter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0 head-preview_modal">
                                <h5 class="modal-title" id="exampleModalLabel">Internal Recruiters</h5>
                                <div class="fx-right-flote">
                                    <div class="search-wrapper">
                                       <input type="search" value="" name="search-table-query" class="form-control form-control-sm top-search-box" placeholder="Search Template">
                                       <button class="half-search-btn fe fe-search btn btn-sm btn-primary"></button>
                                    </div>
                                    <div class="add-btn_prime">
                                        <button class="btn btn-sm btn-primary rounded-20 text-capitalize" id="pre-addnew">Add New</button>
                                    </div>
                                </div>
                                <button type="button" id="popUpModelClose" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="popmodel-ir-table pd-l-10 pd-r-10">
                                <table class="table bd bd-10">
                                  <thead>
                                    <tr>
                                      <th scope="col text-uppercase">Select</th>
                                      <th scope="col text-uppercase">Name</th>
                                      <th scope="col text-uppercase">Department</th>
                                      <th scope="col text-uppercase">Role</th>
                                      <th scope="col text-uppercase">Email</th>
                                      <th scope="col text-uppercase">Contact no</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td scope="row" class="align-center"><input type="radio" name="ir-selector-1" value="" class="irSelectorRowItem"></td>
                                      <td>Mike S.</td>
                                      <td>Frontend Developer</td>
                                      <td>Designer</td>
                                      <td>mike6224@gmail.com</td>
                                      <td>+882411542251</td>
                                    </tr>
                                    <tr>
                                      <td scope="row" class="align-center"><input type="radio" name="ir-selector-1" value="" class="irSelectorRowItem"></td>
                                      <td>Leif Wells</td>
                                      <td>Web & mobile App developer</td>
                                      <td>Presenter, author, web & mobile developer </td>
                                      <td>leifWells210@gmail.com</td>
                                      <td>+83224522412</td>
                                    </tr>
                                    <tr>
                                      <td scope="row" class="align-center"><input type="radio" name="ir-selector-1" value="" class="irSelectorRowItem"></td>
                                      <td>Dayana Jabif</td>
                                      <td>Full stack developer</td>
                                      <td>Application programmer and designer</td>
                                      <td>dayanaJ15@gmail.com</td>
                                      <td>+442215542010</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="row row-sm mg-10">
                                <div class="col-lg col-md col-sm">
                                    <div class="form-btn">
                                        <button type="button" class="btn btn-primary btn-sm rounded-20" id="assignIrInfo">Assign</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       <!-- ASSIGN RECRUITER Modal 1 :End-->

        <!--Model 2 start-->
				<div class="modal fade" id="external-recruiter-modal" tabindex="-1" role="dialog" aria-labelledby="jcrModalForm" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					  <div class="modal-content">
						<div class="modal-header border-bottom-0">
						  <!-- <h5 class="modal-title" id="jcrModalForm">Add Prefered field</h5> -->
						  <button type="button" id="popUpModelClose" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="tablist_section-jcr">
							<div class="jcr-tabcontainer">
								<div class="panel">
									<div class="panel panel-primary mt-3 tabs-style-9">
										<div class="tab-menu-heading">
											<div class="tabs-menu ">
												<!-- Tabs -->
												<ul class="nav panel-tabs">
													<li>
														<a href="#tab209" class="active text-capitalize" data-toggle="tab">Freelance</a>
													</li>
													<li class="tab-ls">
														<a href="#tab300" data-toggle="tab">Recruitment Agency</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="panel-body tabs-menu-body">
											<div class="tab-content">
												<div class="tab-pane active" id="tab209">
													<div class="preview-container">
														<div class="fx-head-left">
															<h6 class="pop-subtitle text-capitalize">Freelance</h6>
														</div>
														<div class="flex-box-col fx-head-left">
														   <div class="fx-search-view">
															  <div class="search-wrapper">
																 <input type="search" value="" name="search-inputs" class="form-control form-control-sm top-search-box" placeholder="Search Template">
																 <button class="half-search-btn fe fe-search btn btn-sm btn-primary"></button>
															  </div>
														   </div>
														   <div class="fx-right grp-action-btn">
															  <div class="fx-right-nav-view">
																 <ul class="fx-right__top-nav">
																	<li class="nav-item">
																	   <div class="addnew-action">
																		  <button class="btn btn-primary rounded-20 btn-sm text-capitalize" id="addNewItem">add new</button>
																	   </div>
																	</li>
																 </ul>
															  </div>
														   </div>
														</div>
													</div>
													<!--table start-->
													<div class="table-responsive">
														<table class="table table-bordered mg-b-1 text-md-nowrap">
															<thead>
																<tr>
																	<th class="text-uppercase">Select</th>
																	<th class="text-uppercase">Name</th>
																	<th class="text-uppercase">Office location</th>
																	<th class="text-uppercase">Email</th>
																	<th class="text-uppercase">Contact no</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Joan Powell</td>
																	<td>Associate Developer</td>
																	<td>aaaaaaaaaaaaaaaaa@gmail.com</td>
																	<td>+99696655410</td>
																</tr>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Gavin Gibson</td>
																	<td>Account manager</td>
																	<td>$230,540</td>
																	<td>+9984669521</td>
																</tr>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Julian Kerr</td>
																	<td>Senior Javascript Developer</td>
																	<td>$55,300</td>
																	<td>+99844587712</td>
																</tr>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Cedric Kelly</td>
																	<td>Accountant</td>
																	<td>$234,100</td>
																	<td>+99755484421</td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--table end-->
												</div>
												<div class="tab-pane" id="tab300">
													<div class="preview-container">
														<div class="fx-head-left">
															<h6 class="pop-subtitle text-capitalize">Freelance</h6>
														</div>
														<div class="flex-box-col fx-head-left">
														   <div class="fx-search-view">
															  <div class="search-wrapper">
																 <input type="search" value="" name="search-inputs" class="form-control form-control-sm top-search-box" placeholder="Search Template">
																 <button class="half-search-btn fe fe-search btn btn-sm btn-primary"></button>
															  </div>
														   </div>
														   <div class="fx-right grp-action-btn">
															  <div class="fx-right-nav-view">
																 <ul class="fx-right__top-nav">
																	<li class="nav-item">
																	   <div class="addnew-action">
																		  <button class="btn btn-primary rounded-20 btn-sm text-capitalize" id="addNewItem">add new</button>
																	   </div>
																	</li>
																 </ul>
															  </div>
														   </div>
														</div>
													</div>
													<!--table start-->
													<div class="table-responsive">
														<table class="table table-bordered mg-b-1 text-md-nowrap">
															<thead>
																<tr>
																	<th class="text-uppercase">Select</th>
																	<th class="text-uppercase">Name</th>
																	<th class="text-uppercase">Office location</th>
																	<th class="text-uppercase">Email</th>
																	<th class="text-uppercase">Contact no</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Joan Powell</td>
																	<td>Associate Developer</td>
																	<td>$450,870</td>
																	<td>+991254610325</td>
																</tr>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Gavin Gibson</td>
																	<td>Account manager</td>
																	<td>$230,540</td>
																	<td>+999324012255</td>
																</tr>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Julian Kerr</td>
																	<td>Senior Javascript Developer</td>
																	<td>$55,300</td>
																	<td>+996694452101</td>
																</tr>
																<tr>
																	<th scope="row">
																		<input type="radio" name="select-item" value="" class="rd-selector">
																	</th>
																	<td>Cedric Kelly</td>
																	<td>Accountant</td>
																	<td>$234,100</td>
																	<td>+997745845210</td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--table end-->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                          <div class="row row-sm mg-10">
                                <div class="col-lg col-md col-sm">
                                    <div class="form-btn">
                                        <button type="button" class="btn btn-primary btn-sm rounded-20" id="assignErInfo">Assign</button>
                                    </div>
                                </div>
                          </div>
					  </div>
					</div>
				  </div>
        <!--Model 2 End-->

<!--</div>-->

{% endblock %}

{% block script %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>
        <!-- city state -->
        <script src="{% static 'assets/js/main.js' %}"></script>

        <!--- Tabs JS-->
        <script src="{% static 'assets/plugins/tabs/jquery.multipurpose_tabcontent.js' %}"></script>
        <script src="{% static 'assets/js/tabs.js' %}"></script>

        <!-- Internal Data tables -->
        <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/responsive.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap4.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/jszip.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/pdfmake.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/vfs_fonts.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/responsive.bootstrap4.min.js' %}"></script>


    <script>
        $(document).ready(function() {
            tinymce.init({
                selector: '.job-description',
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code '
                ],
                toolbar:'size bold italic backcolor underline  | bullist numlist | ' + 'link table insertdatetime charmap preview',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
            });
            tinymce.init({
                selector: '.job-benefit',
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code '
                ],
                toolbar:'size bold italic backcolor underline  | bullist numlist | ' + 'link table insertdatetime charmap preview',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
            });
            tinymce.init({
                selector: '.job-requirement',
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code'
                ],
                toolbar:'size bold italic backcolor underline  | bullist numlist | ' + 'link table insertdatetime charmap preview',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
            });

            $(".recruiter__selector").on('change',function(e){
                if($(this).val() == 'internal'){
                    $('#internal-recruiter-modal').modal('show');
                }
                if($(this).val() == 'external'){
                    $('#external-recruiter-modal').modal('show');
                }
            });

        });
    </script>
{% endblock %}