{% extends 'company/base.html' %}
{% load static %}
{% block title %}Workflow Configuration{% endblock %}
{% block css %}
		<link href="{% static 'assets/css/ATS/workflow_configuration.css' %}" rel="stylesheet">
		<!--Select2 SelectWithSearch CDN-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}
		<!-- Container-fluid -->
		<div class="container-fluid" id="workflow-management-system">
			<!-- Main-content-body -->
			<div class="main-content-body">
				<!--middle section-->
				<div class="row row-sm workflow-main-layout" id="workflow-tablist-template">
					<div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
					   <div class="card">
						 <form method="post">
						  <div class="card-body">
								<div class="main-content-label mg-b-5 main-upper-top">
								   <div class="row head-title">
									  <div class="col-8 left-top section-title">
										 <h5 class="mb-2 text-uppercase">{{workflow_name}}</h5>
									  </div>
									  <div class="col-4 right-top btn-section"> <button class="btn btn-sm btn-primary btn-sm btn-rounded" type="submit">Edit Workflow</button>
									  </div>
								   </div>
								</div>
								<!--Two column tab listing Section Start-->

								  {% csrf_token %}
								<div class="row middle-container">
									<div class="fx-lg-view">
										<div class="left-tab-section">
											<div class="panel panel-primary tabs-style-4">
												<div class="tab-menu-heading">
													<div class="tabs-menu">
														<ul class="tab-title__list">
														   <li>
															   <h5 class="text-capitalize">
																   Stages
															   </h5>
														   </li>
													   </ul>
														<!-- Tabs -->
														<ul class="nav wf-tabs-container panel-tabs">
															{% for stage in workflow_stages %}
															   <li class="">
																	<a href="#{{stage.stage.name}}{{ forloop.counter }}Tab" {% if forloop.first %} class="active" {% endif %} data-toggle="tab"><i class="fe fe-airplay mr-1"></i>{{stage.stage.name}}</a>
															   </li>
															{% endfor %}
<!--														   <li>-->
<!--																<a href="#JcrTab" data-toggle="tab"><i class="fe fe-box mr-1"></i>JCR</a>-->
<!--														   </li>-->
<!--														   <li>-->
<!--																<a href="#McqTestTab" data-toggle="tab"><i class="fe fe-settings mr-1"></i>MCQ Test</a>-->
<!--														   </li>-->
<!--														   <li>-->
<!--																<a href="#InterViewTab" data-toggle="tab"><i class="fe fe-layers mr-1"></i>Interview</a>-->
<!--														   </li>-->
<!--														   <li>-->
<!--															   <a href="#Custom" data-toggle="tab"><i class="fe fe-layers mr-1"></i>Custom</a>-->
<!--														   </li>-->
														</ul>
													</div>
												</div>
											</div>
										</div>

											<div class="right-view-section">
											<div class="panel-body tabs-menu-body">
												<div class="tab-content">
													{% for stage in workflow_stages %}
													<div {% if forloop.first %} class="tab-pane active" {% else %} class="tab-pane" {% endif %}  id="{{stage.stage.name}}{{ forloop.counter }}Tab">
														{% ifequal stage.stage.name 'JCR' %}
															<div class="row row-sm jcr__section">
															<div class="col-12 jcr__col">
																<div class="upper-selection-list">
																	 <div class="right-selector">
																		 <label class="text-capitalize">Selected Template:</label>
																		 <input class="form-control select-cat__list" type="text" readonly value="{{stage.template.name}}">
<!--																		 <select class="form-control select-cat__list" id="jcrTemplateSelectorList">-->
<!--																			 <option value="{{stage.template.name}}">{{stage.template.name}}</option>-->
<!--																		 </select>-->
																	 </div>
																</div>
																<div class="middle-section__jcr-col">
																	<div class="option_selector__ls">
																		<div class="radio-btn__tab">
																			<label class="rdiobox">
																				<input name="jcr-action" type="radio" value="manual"><span>Manual</span>
																			</label>
																		</div>
																		<div class="radio-btn__tab">
																			<label class="rdiobox">
																				<input name="jcr-action" type="radio" value="auto"><span>Automation</span>
																			</label>
																		</div>
																	</div>
																	<div class="row second_row">
																		<div class="col-4">
																			<label class="label-title text-capitalize">Short list:</label>
																			<input type="number" name="jcr-short-list" class="form-control" value="" placeholder="add here">
																		</div>
																		<div class="col-4">
																			<label class="label-title text-capitalize">On hold:</label>
																			<input type="number" name="jcr-on-hold"  class="form-control" value="" placeholder="add here">
																		</div>
																		<div class="col-4">
																			<label class="label-title text-capitalize">Rejected:</label>
																			<input type="number" name="jcr-rejected"  class="form-control" value="" placeholder="add here">
																		</div>
																	</div>
																</div>
															</div>
														</div>
														{% endifequal %}
														{% ifequal stage.stage.name 'Prerequisites' %}
															<div class="row row-sm pre-requis__section">
															   <div class="col-12 pre-req__col">
																   <div class="upper-selection-list">
																		<div class="right-selector">
																			<label class="text-capitalize">Selected Template:</label>
																			<input class="form-control select-cat__list" type="text" readonly value="{{stage.template.name}}">
																		</div>
																   </div>
															   </div>
														   </div>
														{% endifequal %}
														{% ifequal stage.stage.name 'MCQ Test' %}
														{% endifequal %}
														{% ifequal stage.stage.name 'Paragraph MCQ Test' %}
														{% endifequal %}
														{% ifequal stage.stage.name 'Descriptive Test' %}
														{% endifequal %}
														{% ifequal stage.stage.name 'Interview' %}
														{% endifequal %}
														{% ifequal stage.stage.name 'Custom' %}
														{% endifequal %}
													</div>
													{% endfor %}
<!--													<div class="tab-pane" id="McqTestTab">-->
<!--														<div class="row row-sm mcq__section">-->
<!--															<div class="col-12 mcq__col">-->
<!--																<div class="upper-selection-list">-->
<!--																	 <div class="right-selector">-->
<!--																		 <label class="text-capitalize">select template:</label>-->
<!--																		 <select class="form-control select-cat__list" id="mcqTemplateSelectorList">-->
<!--																			 <option label="Select Template" value="" class="null-selector"></option>-->
<!--																			 <option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																			 <option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																		 </select>-->
<!--																	 </div>-->
<!--																	<div class="left-selector">-->
<!--																		<label class="text-capitalize">select category:</label>-->
<!--																		<select class="form-control select-cat__list" id="mcqCategorySelectorList">-->
<!--																			<option label="Select Categories" value="" class="null-selector"></option>-->
<!--																			<option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																			<option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																		</select>-->
<!--																	</div>-->
<!--																</div>-->
<!--																<div class="middle-section__mcq-col">-->
<!--																	<div class="mini__card-layout">-->
<!--																		<div class="fx-row title_list">-->
<!--																			<div class="fx-col">-->
<!--																				<label class="text-capitalize h6">Total Question</label>-->
<!--																			</div>-->
<!--																			<div class="fx-col">-->
<!--																				<label class="text-capitalize h6">Time</label>-->
<!--																			</div>-->
<!--																			<div class="fx-col">-->
<!--																				<label class="text-capitalize h6">Total Marks</label>-->
<!--																			</div>-->
<!--																		</div>-->
<!--																		<div class="fx-row fx-details__ls">-->
<!--																			<div class="fx-col col-view_caption">-->
<!--																				<p class="result_view h6">80</p>-->
<!--																			</div>-->
<!--																			<div class="fx-col col-view_caption">-->
<!--																				<p class="result_view h6">1h 30min</p>-->
<!--																			</div>-->
<!--																			<div class="fx-col col-view_caption">-->
<!--																				<p class="result_view h6">100</p>-->
<!--																			</div>-->
<!--																		</div>-->
<!--																	</div>-->

<!--																	<div class="mini__card-layout">-->
<!--																		<div class="fx-row title_list">-->
<!--																			<div class="fx-col">-->
<!--																				<label class="text-capitalize h6">Basic <span class="small-badge">(30min)</span></label>-->
<!--																			</div>-->
<!--																			<div class="fx-col">-->
<!--																				<label class="text-capitalize h6">Intermediate <span class="small-badge">(30min)</span></label>-->
<!--																			</div>-->
<!--																			<div class="fx-col">-->
<!--																				<label class="text-capitalize h6">Advanced <span class="small-badge">(30min)</span></label>-->
<!--																			</div>-->
<!--																		</div>-->
<!--																		<div class="fx-row fx-details__ls">-->
<!--																			<div class="fx-col col-view_caption">-->
<!--																				<div class="fx-half">-->
<!--																					<label class="mark-title">Positive marks</label>-->
<!--																					<p class="result_view h6">1</p>-->
<!--																				</div>-->
<!--																				<div class="fx-half">-->
<!--																					<label class="mark-title">Negative marks</label>-->
<!--																					<p class="result_view h6">0.25</p>-->
<!--																				</div>-->
<!--																			</div>-->
<!--																			<div class="fx-col col-view_caption">-->
<!--																				<div class="fx-half">-->
<!--																					<label class="mark-title">Positive marks</label>-->
<!--																					<p class="result_view h6">1</p>-->
<!--																				</div>-->
<!--																				<div class="fx-half">-->
<!--																					<label class="mark-title">Negative marks</label>-->
<!--																					<p class="result_view h6">0.25</p>-->
<!--																				</div>-->
<!--																			</div>-->
<!--																			<div class="fx-col col-view_caption">-->
<!--																				<div class="fx-half">-->
<!--																					<label class="mark-title">Positive marks</label>-->
<!--																					<p class="result_view h6">1</p>-->
<!--																				</div>-->
<!--																				<div class="fx-half">-->
<!--																					<label class="mark-title">Negative marks</label>-->
<!--																					<p class="result_view h6">0.25</p>-->
<!--																				</div>-->
<!--																			</div>-->
<!--																		</div>-->
<!--																	</div>-->

<!--																</div>-->
<!--															</div>-->
<!--														</div>-->
<!--													</div>-->
<!--													<div class="tab-pane" id="InterViewTab">-->
<!--														<div class="row row-sm interview__section">-->
<!--															<div class="col-12 interview__col">-->
<!--																<div class="upper-selection-list">-->
<!--																	<div class="right-selector">-->
<!--																		 <label class="text-capitalize">select template:</label>-->
<!--																		 <select class="form-control select-cat__list" id="interviewTemplateSelectorList">-->
<!--																			 <option label="Select Template" value="" class="null-selector"></option>-->
<!--																			 <option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																			 <option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																		 </select>-->
<!--																	</div>-->
<!--																	<div class="left-selector">-->
<!--																		<label class="text-capitalize">select category:</label>-->
<!--																		<select class="form-control select-cat__list" id="interviewCategorySelectorList">-->
<!--																			<option label="Select Categories" value="" class="null-selector"></option>-->
<!--																			<option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																			<option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																		</select>-->
<!--																	</div>-->
<!--																</div>-->
<!--																<div class="middle-section__mcq-col mg-t-10">-->
<!--																	<div class="interviewer__listing">-->
<!--																		<label class="text-capitalize">Interviewer:</label>-->
<!--																		<div class="search-dropdown">-->
<!--																			<select id="interviewerList" class="form-control interview-list" multiple="multiple">-->
<!--																				<option value="Firefox">Firefox</option>-->
<!--																				<option value="Chrome">Chrome</option>-->
<!--																				<option value="Safari">Safari</option>-->
<!--																				<option value="Opera">Opera</option>-->
<!--																				<option value="Internet Explorer">Internet Explorer</option>-->
<!--																			</select>-->
<!--																		</div>-->
<!--																	</div>-->
<!--																</div>-->
<!--															</div>-->
<!--														</div>-->
<!--													</div>-->
<!--													<div class="tab-pane" id="Custom">-->
<!--														<div class="row row-sm custom__section">-->
<!--															<div class="col-12 custom__col">-->
<!--																<div class="upper-selection-list">-->
<!--																	<div class="right-selector">-->
<!--																		 <label class="text-capitalize">select template:</label>-->
<!--																		 <select class="form-control select-cat__list" id="customTemplateSelectorList">-->
<!--																			 <option label="Select Template" value="" class="null-selector"></option>-->
<!--																			 <option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																			 <option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																		 </select>-->
<!--																	</div>-->
<!--																	<div class="left-selector">-->
<!--																		<label class="text-capitalize">select category:</label>-->
<!--																		<select class="form-control select-cat__list" id="customCategorySelectorList">-->
<!--																			<option label="Select Categories" value="" class="null-selector"></option>-->
<!--																			<option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																			<option value="marketing-eligibility">Marketing Eligibility</option>-->
<!--																		</select>-->
<!--																	</div>-->
<!--																</div>-->
<!--																<div class="middle-section__mcq-col">-->

<!--																</div>-->
<!--															</div>-->
<!--														</div>-->
<!--													</div>-->
												</div>
											</div>
										</div>

									</div>
							   </div>

							  <div class="row row-sm mg-10">
									<div class="col-lg col-md col-sm">
										<div class="form-btn float-right">
											<button type="submit" class="btn btn-primary btn-sm rounded-10"
													id="finish-work-config">Finish
											</button>
										</div>
									</div>
							  </div>
								<!--Two column tab listing Section End-->
						  </div>
						 </form>
					   </div>
					</div>
				 </div>
				<!--middle section end-->
			</div>
			<!-- Main-content-body closed -->
		</div>
		<!-- Container-fluid closed -->
{% endblock %}

{% block script %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.min.js"></script>
		<!-- Custom js -->
        <script src="{% static 'assets/js/ATS/workflow_configuration.js' %}"></script>
{% endblock %}
