
.job_openings_table .card-header{
    border-bottom: 2px solid #e2e8f5;
    padding-bottom: 12px !important;
}
.job_openings_table table.dataTable tbody tr {
    background-color: #f8fafc;
}
.job_openings_table table.dataTable tbody th, table.dataTable tbody td {
    padding: 14px 10px;
}
.job_openings_table .table {
    color: #041b4e;
}
.job_openings_table table.dataTable.no-footer {
    border-bottom: 2px solid #e4ebf7;
}
.job_openings_table table.dataTable {
    border: 2px solid #e2e8f5;
}
.job_openings_table .table td {
    border-top: 2px solid #e4ebf7;
}
.job_openings_table table.dataTable thead th, .job_openings_table table.dataTable thead td {
    padding: 14px 10px;
}
.action_icons i.fas.fa-eye {
    color: #0068ff;
}
.action_icons i.fas.fa-edit {
    color: #0068ff;
    padding-left: 6px;
}
.action_icons i.fas.fa-trash-alt {
    color: #ff5353;
    padding-left: 6px;
}
.skills_details {
    text-align: center;
    color: #0068ff;
    cursor: pointer;
}
.skills_details a{
    color: #0068ff;
}
.candidate_filters_header {
    float: left;
}
.candidate_filters_header a {
    color: #041b4e;
    margin: 0 15px;
    font-size: 16px;
}
.candidate_filters_header a:hover {
    color: #0068ff;
}
.job_openings_table .text_blue{
    color: #0068ff;
}
span.type_full_time {
    background-color: #e0f5d7;
    color: #449626;
    border-radius: 100px;
    padding: 5px 12px;
}
span.type_half_time {
    background-color: #fbf6dd;
    color: #ff8a00;
    border-radius: 100px;
    padding: 5px 12px;
}
span.type_full_time i,span.type_half_time i {
    padding-right: 3px;
}
th.circle_plush_icon::after{
  display: none !important;
}
th.circle_plush_icon::before{
    display: none !important;
}
.job_openings_table th.circle_plush_icon {
    text-align: center;
    padding: 14px 5px 14px 15px !important;
}
th.circle_plush_icon a {
    color: #0068ff;
}
th.circle_plush_icon i {
    color: #0068ff;
    font-size: 16px;
    vertical-align: text-bottom;
}