.fx-sm-col {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}
.fx-sm-col .rdiobox {
    padding: inherit;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.fx-sm-row{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.fx-sm-row .fxs-col {
    flex: 1 1 auto;
}
.remote-title {
    transform: translate(0px, 7px);
}
.fx-shift-row {
    display: flex;
    gap: 10%;
    align-items: center;
    margin: 8px 0;
}
.fx-shift-col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.fx-shift-col .shift-label {
    margin: 0;
}
.frame-layout {
    border: 2px solid #e2e8f5;
    margin: 10px 10px;
}

.template-selection-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #e2e8f5;
}
.template-selector {
    width: 30%;
    margin: 10px 10px;
}
.jc-inner-wrapper{position: relative;}
.card-list-view {
    margin: 0 0 40px 0;
}
.card-list-view:after {
    content: "";
    border-bottom: 2px solid #e2e8f5;
    width: 100%;
    position: absolute;
    left: 0;
    height: 22px;
}
/**modal search view**/
/*#assignmodal-1 .modal-dialog {min-width: 750px;}*/
.fx-right-flote { display: flex; justify-content: center; align-items: center;gap: 10px;}
.search-wrapper {width: 60%;min-width: 300px;position: relative;}
.search-wrapper .top-search-box {width: 100%;padding-left: 40px;border-radius: 20px;}
.half-search-btn { position: absolute;left: 0;top:0;height: 100%;border-radius: 20px 0 0 20px}
.popmodel-ir-table .align-center { text-align: center;vertical-align: middle;}
.form-btn { justify-content: flex-end; display: flex;}



.jcr-tabcontainer .nav.panel-tabs{padding:0;display:flex;justify-content:flex-start;align-items:center}
.jcr-tabcontainer .nav.panel-tabs li{flex:1 1 50%}
.jcr-tabcontainer .nav.panel-tabs li a{width:100%;margin:0;padding:8px 12px;border-radius:0;display: flex;justify-content: center;}
#external-recruiter-modal .modal-header{padding:0}
.pop-subtitle { margin: 0;}
.preview-container{display:flex;justify-content:space-between;align-items:center;width:100%;margin-bottom:20px;position:relative}
.preview-container::after{content:"";border-bottom:1px solid #E9EFFD;width:100%;position:absolute;bottom:-15px}
.flex-box-col{display:flex;flex-direction:row;justify-content:space-between;align-items:center;padding:0;gap:5px}
.search-wrapper{width:auto;position:relative}
.search-wrapper .top-search-box{width:100%;padding-left:40px;border-radius:20px}
.half-search-btn{position:absolute;left:0;top:0;height:100%;border-radius:20px 0 0 20px}
.fx-right-nav-view{display:flex;justify-content:flex-end;align-content:center}
.fx-right-nav-view .fx-right__top-nav{margin:0;padding:0;list-style:none;display:flex;justify-content:flex-end;align-content:center;gap:12px}
.fx-right-nav-view .fx-right__top-nav .nav-item{flex:1 1 auto}
button#assignErInfo {min-width: 70px;font-weight: 500;}
button#assignIrInfo {min-width: 70px;font-weight: 500;}


